html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #1E103E;
}

header {
  display: flex;
  margin: 40px 0 100px 0;
  flex-direction: column;
}

.header_pannel {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  align-items: center;
}

.header__logo,
.nav_bar {
  width: 50%;
}

.nav_bar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list_item {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.list_item a:hover {
  color: #6222CC;
  transition: 0.4s ease;
  width: 0;
}

.nav_bar__button {
  margin: 0 0 0 50px;
  padding: 16px 32px;
  background: linear-gradient(278.54deg, #6714EF 3.14%, #9F43F1 96.34%);
  border-radius: 50px;
}
.nav_bar__button:hover {
  box-shadow: 1px 8px 32px rgba(101, 28, 206, 0.58);
  transition: 0.5s ease;
}
.nav_bar__button a {
  color: #fff;
  text-transform: capitalize;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
  position: relative;
}

.header__text {
  width: 520px;
  margin: 0 auto;
}
.header__text .main_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #1E103E;
  line-height: 82px;
  position: relative;
}
.header__text .main_text::before {
  content: "";
  background: url(../img/icons/line.svg) center no-repeat;
  display: block;
  position: absolute;
  z-index: 1;
  width: 270px;
  height: 20px;
  top: 70px;
  left: 130px;
}
.header__text .offer_text {
  color: #333;
  width: 380px;
  margin: 20px 0 40px 0;
}
.header__text .header__button {
  display: block;
  background: linear-gradient(278.54deg, #6714EF 3.14%, #9F43F1 96.34%);
  border-radius: 50px;
  padding: 20px 40px;
  max-width: 110px;
}
.header__text .header__button a {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.header__text .header__button:hover {
  transition: 0.5s ease;
  box-shadow: 1px 8px 32px rgba(101, 28, 206, 0.58);
}

.header__dot {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  display: block;
  background-color: #FC195A;
  position: absolute;
  top: 50px;
  left: 750px;
}

.purple_dot {
  background-color: #731FF0;
  top: unset;
  bottom: 250px;
  left: 700px;
}

.header__photo {
  background-color: #FC195A;
  padding: 20px 0 0 50px;
  width: 548px;
  height: 716px;
}

.offer {
  display: flex;
  justify-content: space-between;
  background-color: #F3F5F7;
  width: 100%;
}
.offer .offer_text {
  display: flex;
  width: 550px;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 100px;
}
.offer .offer_text .title {
  line-height: 70px;
  margin: 0 0 35px 0;
}
.offer .offer_text .title_text {
  font-family: "DM Sans", sans-serif;
  line-height: 22px;
}
.offer .offer_cards {
  display: flex;
  margin: 100px 100px 50px 0;
}
.offer .offer_cards .cards_wrapper {
  display: flex;
  flex-direction: column;
}
.offer .offer_cards .cards_wrapper:last-of-type {
  margin: 30px 0 0 0;
}
.offer .offer_cards .card {
  width: 290px;
  height: 284px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.offer .offer_cards .card img {
  margin: 50px 0 0 0;
  border-radius: 10px;
}
.offer .offer_cards .card .card_button {
  margin: 0 0 50px 0;
}
.offer .offer_cards .card .card_button .card_button__button {
  color: #999;
  background-image: linear-gradient(#FC195A, #FC195A);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s ease-in-out;
}
.offer .offer_cards .card .card_button .card_button__button:hover {
  background-size: 100% 2px;
}
.offer .offer_cards .card .card_button .card_button__button path {
  fill: #999;
}
.offer .offer_cards .card:last-child {
  margin: 20px 20px 0 0;
}
.offer .offer_cards .pink_card {
  background-color: #FC195A;
  color: #fff;
}
.offer .offer_cards .pink_card .card_button__button {
  color: #fff !important;
  background-image: linear-gradient(#fff, #fff) !important;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s ease-in-out;
}
.offer .offer_cards .pink_card .card_button__button:hover {
  background-size: 100% 2px;
}
.offer .offer_cards .pink_card .card_button__button path {
  fill: #fff !important;
}

.about_us {
  margin: 100px 0;
  display: flex;
  align-items: center;
}
.about_us .about_us__wrapper {
  width: 50%;
}
.about_us .about_us__photo {
  float: right;
  position: relative;
  left: -70px;
}
.about_us .about_us__photo::before {
  content: "";
  position: absolute;
  display: block;
  top: -16px;
  left: -36px;
  background-color: #6222CC;
  width: 430px;
  height: 530px;
  z-index: -1;
}
.about_us .about_us__text {
  width: 50%;
}
.about_us .about_us__text .info {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.about_us .about_us__text .about_us__info {
  color: #FC195A;
  margin: 0 0 25px 0;
}
.about_us .about_us__text .title {
  line-height: 50px;
  margin: 0 0 35px 0;
}
.about_us .about_us__text .title__text {
  line-height: 28px;
  margin: 0 0 20px 0;
}
.about_us .about_us__text .about_us__stats {
  display: flex;
  flex-direction: row;
}
.about_us .about_us__text .about_us__stats .stats_item {
  margin: 0 60px 0 0;
}
.about_us .about_us__text .about_us__stats .stats_item .stats_item__numbers {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.about_us .about_us__text .about_us__stats .stats_item:first-child .stats_item__numbers {
  color: #FC195A;
}
.about_us .about_us__text .about_us__stats .stats_item:last-child .stats_item__numbers {
  color: #6222CC;
}
.about_us .about_us__text .about_us__stats .stats_item .stats_item__text {
  line-height: 28px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery .title {
  margin: 0 0 65px 0;
}
.gallery .gallery_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery .gallery_grid .grid__item:first-of-type {
  grid-area: 1/1/2/2;
}
.gallery .gallery_grid .grid__item:nth-of-type(2) {
  grid-area: 2/1/4/2;
}
.gallery .gallery_grid .grid__item:nth-of-type(3) {
  grid-area: 1/2/3/4;
}
.gallery .gallery_grid .grid__item:nth-of-type(4) {
  grid-area: 3/2/4/3;
}
.gallery .gallery_grid .grid__item:nth-of-type(5) {
  grid-area: 1/4/2/5;
}
.gallery .gallery_grid .grid__item:nth-of-type(6) {
  grid-area: 2/4/3/5;
}
.gallery .gallery_grid .grid__item:nth-of-type(7) {
  grid-area: 3/3/4/5;
}
.gallery .gallery_grid .grid__item img {
  height: 100%;
  width: 100%;
}

.subscription {
  margin: 100px 0;
  padding: 100px 0;
  background-color: #6222CC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscription .subscription_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
}
.subscription .subscription_text .subscription__title,
.subscription .subscription_text .subscription__subtitle {
  color: #fff;
}
.subscription .subscription_text .subscription__subtitle {
  margin: 20px 0 0 0;
  text-align: center;
  text-transform: lowercase;
}
.subscription .subscription__button {
  text-align: center;
  background-color: #FC195A;
  max-width: 188px;
  border-radius: 30px;
  padding: 15px 50px;
}
.subscription .subscription__button a {
  color: #fff;
}
.subscription .subscription__button:hover {
  box-shadow: 1px 8px 32px rgba(252, 25, 90, 0.5803921569);
  transition: 0.5s ease;
}

.Testimonials {
  display: flex;
  margin: 0 0 100px 0;
  justify-content: center;
  align-items: center;
}
.Testimonials .Testimonials__main {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 0;
  padding: 50px 0;
}
.Testimonials .Testimonials__main .Testimonials__info {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #6222CC;
}
.Testimonials .Testimonials__main .title {
  line-height: 60px;
  text-transform: capitalize;
  margin: 15px 0;
}
.Testimonials .Testimonials__main .main__text {
  line-height: 30px;
  color: #333;
}
.Testimonials .Testimonials__card {
  width: 535px;
}
.Testimonials .Testimonials__card .item__text {
  line-height: 30px;
  color: #333;
  margin: 35px 0;
}
.Testimonials .Testimonials__card .item__user_info {
  display: flex;
}
.Testimonials .Testimonials__card .item__user_info .info_text {
  margin: 0 0 0 15px;
}
.Testimonials .Testimonials__card .item__user_info .info_text .user_info__name {
  color: #000;
  font-weight: 700;
  line-height: 21px;
}
.Testimonials .Testimonials__card .item__user_info .info_text .user_info__country {
  font-size: 14px;
  color: #333;
}

.blog {
  display: block;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 100px 0;
}
.blog .blog_wrapper {
  width: 1170px;
  margin: 0 auto;
}
.blog .blog_wrapper .blog_head {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0 0 70px 0;
}
.blog .blog_wrapper .blog_head .blog__info .blog_info__text {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #6222CC;
}
.blog .blog_wrapper .blog_head .blog__info .title {
  line-height: 64px;
}
.blog .blog_wrapper .blog_head .blog_button {
  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  max-height: 50px;
  align-self: flex-end;
  overflow: hidden;
}
.blog .blog_wrapper .blog_head .blog_button .blog_button__button {
  padding: 15px 50px;
  position: relative;
  transition: 0.4s ease;
}
.blog .blog_wrapper .blog_head .blog_button .blog_button__button::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100px;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  background-color: #000;
  transition: 0.4s ease;
}
.blog .blog_wrapper .blog_head .blog_button .blog_button__button:hover {
  color: #fff;
}
.blog .blog_wrapper .blog_head .blog_button .blog_button__button:hover::before {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.blog .blog_wrapper .blog_cards {
  display: flex;
  justify-content: space-between;
}
.blog .blog_wrapper .blog_cards .blog_cards__item {
  width: 370px;
}
.blog .blog_wrapper .blog_cards .blog_cards__item .item__name {
  margin: 20px 0;
  line-height: 32px;
  color: #333;
}
.blog .blog_wrapper .blog_cards .blog_cards__item .item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  margin: 0 0 20px 0;
}
.blog .blog_wrapper .blog_cards .blog_cards__item .item__date {
  line-height: 32px;
  color: #999;
}

.footer {
  background-color: #6222CC;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  font-family: "Quicksand", sans-serif;
  line-height: 24px;
}
.footer .footer_wrapper {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}
.footer .footer_wrapper .adress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.footer .footer_wrapper .adress .location {
  width: 230px;
  margin: 0 0 20px 0;
}
.footer .footer_wrapper .adress a {
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer_wrapper .adress a:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.footer .footer_wrapper .menu__wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer .footer_wrapper .menu__wrapper .footer_menu .list_title {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.footer .footer_wrapper .menu__wrapper .footer_menu li {
  margin: 20px 0 0 0;
}
.footer .footer_wrapper .menu__wrapper .footer_menu li:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.footer .footer_wrapper .menu__wrapper .footer_menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.up_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
  border: 1px solid #1E103E;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 1.2s ease;
  cursor: pointer;
}
.up_button svg {
  width: 36px;
  height: 36px;
}
.up_button svg path {
  fill: #1E103E;
}
.up_button svg:hover {
  scale: 1.1;
  transition: 0.3s ease;
}
.up_button.show {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
